*, html {
    margin:0;
    padding:0;  
}

:root{
    --amarelo: #FFEA2D;
    --cinza: #151414;
}

body{
    background: black;
    color: white;
    background-image: url("assets/stars.png");
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3em 6em;
}

header h1{
    font-size: 3em;
    color: var(--amarelo);
}

header h2{
    font-size: 1.5em;
    font-weight: normal;
}

.hero{
    margin: 3em 0;
    height: 25em;
}

.hero-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 3.2em;
    text-align: left;
    margin: 0 6em;
}

.hero h1{
    font-size: 4.3em;
}

.hero h3{
    font-size: 1.5em;
    font-weight: normal;
    color: var(--amarelo);
    margin-bottom: 0.7em;
}

button{
    cursor: pointer;
    border: solid 0;
    width: 11em;
    padding: 0.6em;
    border-radius: 8px;
    background-color: var(--amarelo);
    font-size: 1.5em;
    font-weight: bold;
}

button:hover{
    transition: 30ms;
    background-color: rgb(211, 192, 20);
}


.destinations{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
}

.destiny{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
}

.destiny-card{
    background-color: var(--cinza);
    height: 13em;
    width: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.destiny-card h1{
    margin: 1em 0;
    font-size: 3em;
    display: flex;
    line-height: 0.4;
    color: var(--amarelo);
}

.destiny-card h1 span{
    font-size: 0.4em;
    font-weight: normal;
    color: white;
}

.destiny button{
    width: 100%;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.destiny-planet{
    text-align: left;
    position: relative;
    right: 6em;
}

.destiny-planet .earth{
    font-weight: normal;
}

.pictures{
    margin: 5em 2em;
    display: flex;
    overflow:  hidden;
}

.picture {
    margin: 1em;
}

.form{
    background-image: url("assets/stars.png");
    height: 100vh;
    display: none;
}

.form-pag1{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form-pag2{
    height: 100vh;
    display: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.form-pag3{
    display: none;
    height: 100vh;
}

.form-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    height: 20em;
    align-content: center;
}

.form-data input{
    width: 20em;
    padding: 1.2em;
    margin-bottom: 2em;
    background-color: var(--cinza);
    border-radius: 8px;
    border: unset;
    font-size: 1.1em;
    color: white;
}

.form-header{
    text-align: center;
    font-size: 1.5em;
}

.form-planets{
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 20em;
    align-content: center;
}