*, html {
    margin:0;
    padding:0;
    box-sizing: border-box;  
}

html{
    scroll-behavior: smooth;
}

:root{
    --amarelo: #FFEA2D;
    --cinza: #151414;
}

body{
    background: black;
    color: white;
    background-image: url("assets/stars.png");
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3em 6em;
}

header h1{
    font-size: 3em;
    color: var(--amarelo);
}

header h2{
    font-size: 1.5em;
    font-weight: normal;
}

.hero{
    margin: 3em 0;
    height: 25em;
}

.hero-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 3.2em;
    text-align: left;
    margin: 0 6em;
}

.hero h1{
    font-size: 4.3em;
}

.hero h3{
    font-size: 1.5em;
    font-weight: normal;
    color: var(--amarelo);
    margin-bottom: 0.7em;
}

button{
    cursor: pointer;
    border: solid 0;
    width: 11em;
    padding: 0.6em;
    border-radius: 8px;
    background-color: var(--amarelo);
    font-size: 1.5em;
    font-weight: bold;
}

button:hover{
    transition: 30ms;
    background-color: rgb(211, 192, 20);
}


.destinations{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
}

.destiny{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
}

.destiny-card{
    background-color: var(--cinza);
    height: 13em;
    width: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.destiny-card h1{
    margin: 1em 0;
    font-size: 3em;
    display: flex;
    line-height: 0.4;
    color: var(--amarelo);
}

.destiny-card h1 span{
    font-size: 0.4em;
    font-weight: normal;
    color: white;
}

.destiny button{
    width: 100%;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.destiny-planet{
    text-align: left;
    position: relative;
    right: 6em;
}

.destiny-planet .earth{
    font-weight: normal;
}

.pictures{
    margin: 5em 2em;
    display: flex;
    overflow:  hidden;
}

.picture {
    margin: 1em;
}

.form{
    margin:0;
    background-image: url("assets/stars.png");
    display: none;
}

.form-pag1{
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 35em;
}

.form-pag2{
    margin:0;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.form-pag3{
    display: none;
    flex-direction: column;
    text-align: center;
}

.form-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    height: 20em;
    align-content: center;
}

.form-data input{
    width: 20em;
    padding: 1.2em;
    margin-bottom: 2em;
    background-color: var(--cinza);
    border-radius: 8px;
    border: unset;
    font-size: 1.1em;
    color: white;
}

.form-header{
    text-align: center;
    font-size: 1.5em;
}

.form-planets{
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 20em;
    align-content: center;
}

.form-planets section img{
    margin-right: 2em;
    cursor: pointer;
}

.form-planets section img:hover{
    opacity: 80%;
}

.form-pag2 .form-header{
   margin-top: 2em;
   margin-bottom: 3em;
}

.form-pag3 .form-header{
    margin-top: 4em;
    margin-bottom: 2em;
}

.form-pag3 .form-data{
    height: 14em;
}

.form-pag3 button{
    width: 13em;
}

.form-pag4{
    display: none;
    flex-direction: column;
    margin: 5em auto;
}

.confirmation{
    text-align: center;
}

.form-planets{
    display: grid;
    grid-template-columns: repeat(3, 100%);
    overflow: hidden;
    scroll-behavior: smooth;
    height: 25em;
}

section{
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 20px 0;
}

a {
    position: absolute;
    color: #fff;
    text-decoration: none;
    font-size: 6em;
    background:rgb(0,0,0);
    width: 80px;
    padding: 20px;
    text-align: center;
    z-index: 1;

  }

  .left{
    top:0; bottom:0; left:0;
    background: linear-gradient(-90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  }

  .right{
    top:0; bottom:0; right: 0;
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  }

  .form-pag4 .confirmation {
    margin-bottom: 4em;
  }


  .data{
    font-size: 1.4em;
    background-color: var(--cinza);
    width: 15em;
    line-height: 1.3em;
    padding: 1em;
    margin: 0 auto;
  }